/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: white;
}
:root{
    --main-color: rgb(214, 6, 6);;
    --second-color: rgb(53, 52, 52);
}

*::selection {
    color: rgb(180, 177, 177);
    background: var(--main-color);
}

.inicio {
    color: white;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.logo img {
    width: 100px;
    margin-left: 40px;
}

.menu {
    background-color: rgb(214, 6, 6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.14);
}

.menu .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu .navbar ul li {
    position: relative;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    text-decoration: underline;
}

#menu {
    display: none;
}

.menu-icon {
    width: 40px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Secciones */
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    background-image: url('/img/img1.jpg');
    opacity: 1;
    background-size: cover;
    background-position: center;
    border-radius: 90% 0 0 0;
    
}

.contact-form {
    background: #ffffffae;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.contact-form h2 {
    margin-top: 10px;
    margin-bottom: 5%;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.contact-form label {
    text-align: left;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.contact-form button {
    padding: 10px;
    background-color: #b51800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.contact-form button:hover {
    background-color: #9e1500;
}

.map {
    width: 100%;
    height: 450px;
}


/*Footer*/
footer {
    background-color: var(--main-color); /* Fondo rojo */
    padding: 50px 0; /* Espacio interno grande */
    color: white; /* Texto blanco */
}

.footer-content {
    display: flex;
    justify-content: space-around; /* Espacio entre columnas */
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido */
}

.footer-column {
    flex: 1;
    margin: 0 80px; /* Margen entre columnas */
}

.footer-column img {
    max-width: 100px; /* Tamaño máximo del logo */
}

.menu-footer {
    list-style: none; /* Eliminar puntos de lista */
    padding: 0;
}

.menu-footer li {
    margin-bottom: 10px; /* Espacio entre elementos de menú */
}

.menu-footer li a {
    color: white;
    text-decoration: none;
}

.menu-footer li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

.hours p {
    margin: 5px 0; /* Espacio entre días y horas */
}

.social a {
    display: block;
    margin-bottom: 10px; /* Espacio entre enlaces de redes sociales */
    color: white;
    text-decoration: none;
}

.social a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}



/* Responsive */
@media (min-width: 730px) {
    .menu {
        position: fixed;
        width: 100%;
    }
}

/*Responsive navbar*/
@media(max-width: 900px) {
    .menu {
        padding: 10px;
        justify-content: space-between;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        border-radius: 20px;
    }
    .menu .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    .menu .navbar ul li a {
        color: aliceblue;
    }
    .menu .navbar ul li a:hover {
        color: #bebebe;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    
    .header-content {
        padding: 20px;
        margin-top: 100px;
    }
}

/*Reponsive contac*/
@media (max-width: 1200px) {
    .contact {
        padding: 50px;
    }

    .contact-form {
        width: 90%;
    }

    .footer-column {
        margin: 0 40px;
    }
}

/*Responsive footer*/
@media(max-width: 900px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin: 20px 0; /* Margen entre columnas en móviles */
    }
}


